body {
  background: #0c739e;
  background-image: url(../img/bg.jpg);
  background-repeat: repeat-x;
  font-family: 'Tahoma Regular', sans-serif;
}
.white_main {
  width: 1000px;
  background-color: white;
  box-shadow: 0 1px 10px black;
  margin: 0 auto;
}
header {
  padding: 11px 33px 0 28px;
  font-size: 12px;
  position: relative;
  height: 164px;
}
.logo {
  position: relative;
}
.logo p {
  color: #128aa7;
  position: absolute;
  top: 99px;
  left: 71px;
}
.contacts {
  color: rgba(18, 138, 167, 0.8);
  line-height: 1.5;
  position: absolute;
  top: 11px;
  right: 33px;
}
.our_contacts {
  text-shadow: 1px 1px 1px grey;
  padding-bottom: 4px;
}
.countries {
  position: absolute;
  bottom: 9px;
  right: 33px;
}
.countries li{
  list-style-type: none;
  float: left;
}
.countries a{
  color: #128aa7;
  display: block;
  width: 53px;
  align-items: center;
  text-align: center;
  font-size: 10px;
  margin-left: 5px;
}
.big_image {
  width: 1000px;
  height: 237px;
  border-top: 1px solid #128aa7;
  border-bottom: 1px solid #128aa7;
}
.menu {
  background: #353535;
  width: 1000px;
  height: 28px;
  border-top: 1px solid #cacbcb;
  border-bottom: 1px solid #000000;
  box-shadow: 0 2px 5px #353535;
  color: white;
  font-size: 14px;
  position: absolute; /* Чтобы тень от Menu не перекрывалась последующими левой и правой колонками*/
}
.menu ul {
  margin-left: 57px;
}
.menu ul li {
  float: left;
  position: relative;
  padding: 7px 45px 7px 9.5px;
}
.menu ul li a {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-size: 14px;
  cursor: default;
}
.menu ul li ul {
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
  border-top: 1px solid #000000;
  position:absolute;
  left: 0;
  top: 28px;
  background: #353535;
  margin: 0;
  padding-bottom: 7px;
  display: none;     /* Прячем выпадающее меню */
}
.menu ul li:hover ul {      /* Выпадающее меню при наведении курсора*/
  display: block;
}
.menu ul li ul li {
  float: none;
  padding: 7px 40px 0px 9.5px;
  display: block;
}

.article {
  clear: both; /* Зачистили границы после Menu */
  /*-------------------------------------------*/
  /*position: relatve;    /* Зачистили границы внутри блока */
  overflow: hidden;    /* ------------------------------ */
  padding-top: 28px;
}
.left_column {
  background-color: #edeef0;
  width: 174px;
  color: #555555;
  padding: 13.15px 24.19px 20013.09px 15.51px;
  border-left: 1px solid #c7cacf;
  border-right: 1px solid #c7cacf;
  float: left;
  margin-bottom: -20000px;
}
h3 {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8.76px;
}
.left_column p {
  font-size: 14px;
  line-height: 1.5;
  white-space: nowrap;    /*                                  */
  overflow: hidden;      /*   Обрезаем абзацы внутри блока   */
  text-overflow: clip;  /*                                  */
}
.central_column {
  width: 568.6px;
  float: left;
  padding-bottom: 20000px;
  margin-bottom: -20000px;
}
.right_column {
  background-color: #edeef0;
  width: 174px;
  color: #555555;
  padding: 13.15px 24.19px 20013.09px 15.51px;
  border-left: 1px solid #c7cacf;
  border-right: 1px solid #c7cacf;
  float: right;
  margin-bottom: -20000px;
}
.right_column p {
  font-size: 14px;
  line-height: 1.5;
  white-space: nowrap;    /*                                  */
  overflow: hidden;      /*   Обрезаем абзацы внутри блока   */
  text-overflow: clip;  /*                                  */
}
.copyright {
  font-size: 12px;
  color: white;
  padding-top: 11.74px;
  padding-bottom: 10.85px;
  text-align: center;
  border-top: 3px solid #031d28;
  width: 996px;
  margin: 0 auto;
}
